@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<EditForm Model="_model" >
    <AuthInput @bind-Value="_model.UserName" LabelText="User Name" PlaceHolder="Enter your user name" />

</EditForm>

<div class="bg-dark text-white m-2 p-2">
    <pre>User Name: @_model.UserName</pre>
</div>

@code {
    private Model _model = new();

    public class Model {
        public string? UserName { get; set; }

    }
}